header .content .choose_bx .select .card:nth-child(3) .left_box h5{
    font-size: 10px;
    
}
header .content .choose_bx .select .card:nth-child(3) .right_box h5{
    font-size: 10px;
   
}
header .content .choose_bx .select .card:nth-child(3) .date{
    font-size: 10px;
}